
.gradle/
/build/
*/build/
gradlew.bat
gradlew


local.properties

# Логи
*.log


.idea/
*.iml
*.iws
.navigation/
captures/
.externalNativeBuild/
.cxx/


*.jks
*.keystore
*.p12
*.key
*.pem


.DS_Store
Thumbs.db